/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835";
	fragment@0 {
		target-path = "/";
		__overlay__ {
			skel@10 {
				compatible = "gpio-skel";
				gpios = <&gpio 12 0x00000001>;
				status = "okay";
			};
		};
	};
};
